@import url(https://fonts.googleapis.com/css?family=Merriweather:700);
body, html {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4em;
  color: white;
  font-family: 'Merriweather', serif;
  letter-spacing: 2px;
  pointer-events: none;
  font-weight: 700;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
}